@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*Color configuration*/
:root {
  --primary-bg-color: #fcfcfc; /* Fondo general */
  --dark-gray: #696d9a; /* Azul marino */
  --navy-blue: #2d314e; /* Azul oscuro */
  --highlight-color: #dd9a5f; /* Naranja suave d6bb80 cd996e*/
  --background-color: #f2f2f2; /* Gris azulado */
  --highlight-header-color: #e2bf2b; /* amarillo claro */
  --h1-text: #f1c40f;
}

html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

/*Padding general configuration*/
section {
  padding: 50px 30px 30px 30px;
}

/* Header and footer with padding 0 */
footer {
  padding: 0 !important;
}

/* Header */
header {
  background-color: var(--navy-blue);
  display: flex;
  justify-content: space-between;
  position: sticky;
  padding: 0px 16px;
  z-index: 1000;
  top: 0;
  height: 60px;

  nav {
    ul {
      display: flex;
      padding: 0;

      li {
        list-style: none;
        margin-left: 20px;

        a {
          text-decoration: none;
          color: var(--primary-bg-color);
          font-size: clamp(1rem, 2vw, 1.2rem);
          font-weight: 700;
        }
        a:hover {
          color: var(--highlight-color) !important;
        }
      }
    }
  }

  .logo-container {
    height: auto;
    display: flex;
    align-items: center;
    gap: 500px;
    justify-content: flex-start;
  }

  .logo {
    width: 40px;
  }
}

/*Burger Menu*/
.burger {
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  background: transparent !important;
  border: 0;
  margin-top: 15px;
}

.burger span {
  width: 35px;
  height: 5px;
  background: var(--primary-bg-color);
  border-radius: 3px;
}

/* home */
#home {
  position: relative;
  background-color: #070816c2;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home h1 {
  font-size: clamp(2.5rem, 6vw, 5rem);
  font-family: "Poppins", sans-serif; /* Usa la fuente que prefieras */
  color: var(--h1-text); /* Color dorado */
  font-weight: bold;
  overflow: hidden; /* Asegura que las letras aparezcan una por una */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  border-right: 3px solid var(--h1-text); /* Cursor del efecto de tecleado */
  width: 0; /* Inicia con el texto oculto */
  animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite; /* Animación */
}

@keyframes typing {
  100% {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent; /* Hace parpadear el cursor */
  }
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

#home h2 {
  font-size: clamp(1.5rem, 4.5vw, 2.5rem);
  color: var(--primary-bg-color); /* Color gris oscuro */
  font-style: italic;
  opacity: 0; /* Inicialmente oculto */
  animation: fadeIn 5s forwards; /* Aparece en 2 segundos */
}
@keyframes fadeIn {
  50% {
    opacity: 0; /* Comienza invisible */
  }
  100% {
    opacity: 1; /* Se vuelve completamente visible */
  }
}

#home .btn-home {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: orangered;
  border: 2px solid rgba(210, 224, 9, 0.432);
  padding: 12px 24px;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
  box-shadow: 0 0 10px orange;
  margin-top: 80px;
  animation: moveButton 1.5s infinite alternate, fadeIn 8s ease-out forwards;
  opacity: 0; /* Totalmente invisible al inicio */
}

/* Efecto de luz cuando pasa el mouse */
#home .btn:hover {
  background-color: #ffee00; /* Fondo color neón */
  color: #222222; /* Texto oscuro cuando está en hover */
  box-shadow: 0 20px 50px rgba(233, 233, 5, 0.7),
    0 40px 100px rgba(240, 240, 5, 0.4), 0 40px 50px rgba(233, 233, 5, 0.7),
    0 60px 100px rgba(240, 240, 5, 0.4);
  transform: translateY(-5px); /* Levantar el botón */
}

/* Animación de movimiento para el botón */
@keyframes moveButton {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(35px);
  }
}

/* Animación de aparición suave desde opaco 0 hasta opaco 1 */
@keyframes fadeIn {
  0% {
  }
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*Buttons configuration*/
.btn {
  padding: 10px 20px;
  background-color: var(--highlight-color);
  color: var(--navy-blue);
  text-decoration: none;
  font-size: 1rem;
  border-radius: 25px;
  border-color: transparent;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--highlight-header-color);
  color: var(--navy-blue);
}

/*Subtitles configuration*/
h2 {
  font-size: clamp(1.5rem, 4.5vw, 2.5rem);
  color: var(--highlight-color);
  font-weight: bold;
}
h3 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  color: var(--highlight-color);
}
p {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  color: var(--navy-blue);
}

/* About Section */
#about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--background-color);
  color: var(--navy-blue);
  text-align: center;
  align-items: center;
  height: calc(100vh - 58px);
  p {
    margin-bottom: 30px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
  }

  .about-description-btn {
    display: flex;
    justify-content: center;
  }

  .about-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    #description,
    #skills {
      display: flex;
      flex-direction: column;
      background-color: var(--primary-bg-color);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      flex: 1;
      flex-basis: 300px;
    }

    #skills_content {
      display: flex;
      justify-content: center;
    }
  }
}

/* Projects Section */
#projects {
  padding: 50px 30px 30px 30px;
  text-align: center;
  background-color: var(--background-color);
}

.projects-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.project-card {
  padding: 20px;
  background-color: var(--primary-bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 290px;
  max-width: 300px;
  flex: 1;
  transition: transform 0.3s ease-in-out;
}
.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  max-width: 100%;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-card h3 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  color: var(--highlight-color);
  margin-bottom: 10px;
  margin-top: 0;
  height: 70px;
}

.project-card p {
  font-size: clamp(1rem, 1.6vw, 1.1rem);
  color: var(--navy-blue);
  height: 150px;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Section Team*/

.team-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  padding: 40px 20px;
}

.team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0;
}

.team-member {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  width: 280px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.team-member:hover {
  transform: translateY(-5px);
}

.team-member img {
  object-fit: contain;
  width: 100%;
  height: 240px;
  border-radius: 10px;
}

/* Información del miembro */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  p {
    font-size: clamp(0.9rem, 1.5vw, 1rem);
    color: var(--navy-blue);
    margin: 10px;
  }
  .btn {
    margin: 20px 0px 10px 0px;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
}

/* Contact Form */
.contact {
  padding: 50px 40px 30px 40px;
  background-color: var(--background-color);
}
.contact-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-title-contact {
  text-align: right;
}
.heading-contact-main {
  color: var(--highlight-color);
  text-align: center;
}
.heading-description-contact {
  color: var(--navy-blue);
  text-align: center;
}

.contact-form-container {
  background-color: var(--dark-gray);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 70%;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form-label {
  color: var(--primary-bg-color);
  font-size: clamp(1rem, 2vw, 1.1rem);
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
}

.contact-form-input {
  color: var(--navy-blue);
  background-color: var(--background-color);
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 90%;
  border: 2px solid #989797;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.337);
}

textarea {
  resize: none;
  max-height: 80px;
}

/*Placeholder configurations*/
input::placeholder,
textarea::placeholder {
  color: #989797;
  font-style: bold;
}
.contact-form-btn {
  display: flex;
  justify-content: center;
}

/*Footer section*/
.main-footer {
  background: var(--navy-blue);
  color: var(--background-color);
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.main-footer_social-cont {
  display: flex;
  gap: 15px;
}

.main-footer_icon {
  margin: 0;
  width: 2.5rem;
  transition: transform 0.3s ease-in-out;
}
.main-footer_icon:hover {
  transform: scale(1.1);
}

.footer-p {
  margin: 0;
  font-size: 14px;
  padding: 10px 0;
}

/* Media Queries */

@media screen and (max-width: 480px) {
  section {
    height: auto !important;
  }
}

/* Diseño responsivo */
@media (max-width: 768px) {
  section {
    height: auto !important;
  }

  .project-card {
    padding: 15px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
  }

  .nav-links.active {
    display: flex;
    background-color: var(--navy-blue);
    position: absolute;
    top: 60%;
    right: 20px;
    padding: 1rem;
    text-align: right;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px #393939;
  }

  .burger {
    display: flex;
  }
  li {
    margin: 0 !important;
  }

  /* Ajustar el texto en los párrafos para pantallas pequeñas */
  #slot_about_profile,
  #slot_about_profile_grid {
    padding: 0px 20px 0px 20px;
  }
}

@media (max-width: 880px) {
  #about {
    height: auto !important;
  }
}

@media (max-height: 700px) {
  #home,
  #about {
    height: auto !important;
  }
}
