@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*Color configuration*/
:root {
  --primary-bg-color: #fcfcfc; /* Fondo general */
  --dark-gray: #696d9a; /* Azul marino */
  --navy-blue: #2d314e; /* Azul oscuro */
  --highlight-color: #edb381; /* Naranja suave d6bb80 cd996e*/
  --background-color: #f2f2f2; /* Gris azulado */
  --highlight-header-color: #e2bf2b; /* amarillo claro */
}

html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

/*Padding general configuration*/
section {
  padding: 50px 30px 30px 30px; /* Puedes ajustar este valor según tus necesidades */
}

/* Header and footer with padding 0 */
footer {
  padding: 0 !important;
}

/* Header */
header {
  background-color: var(--navy-blue);
  display: flex;
  justify-content: space-between;
  position: sticky;
  padding: 0px 16px;
  z-index: 1000;
  top: 0;
  height: 60px;

  nav {
    ul {
      display: flex;
      padding: 0;

      li {
        list-style: none;
        margin-left: 20px;

        a {
          text-decoration: none;
          color: var(--primary-bg-color);
          font-size: clamp(1rem, 2vw, 1.2rem);
          font-weight: 700;
        }
        a:hover {
          color: var(--highlight-color) !important;
        }
      }
    }
  }

  .logo-container {
    height: auto;
    display: flex;
    align-items: center;
    gap: 500px;
    justify-content: flex-start;
  }

  .logo {
    width: 100px;
  }
}

/*Burger Menu*/
.burger {
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  background: transparent !important;
  border: 0;
  margin-top: 15px;
}

.burger span {
  width: 35px;
  height: 5px;
  background: var(--primary-bg-color);
  border-radius: 3px;
}

/* home */
#home {
  height: 100vh; /* Ocupa el 100% de la altura de la ventana */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../images/computadora.jpg);
  background-size: cover; /* Asegura que la imagen cubra toda la sección */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  box-sizing: border-box; /* Incluye padding en el tamaño total del elemento */
}

#home h1 {
  font-size: clamp(1.8rem, 6vw, 4rem);
  color: var(--highlight-color);
  padding: 50px;
  margin: 0;
}

#home h2 {
  font-size: 1.5rem;
  color: var(--highlight-color);
  margin: 0;
}

#home p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: var(--primary-bg-color);
  margin: 0;
}

.btn {
  background-color: var(--highlight-color);
  color: var(--navy-blue);
  padding: 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 40px;
}

.btn:hover {
  background-color: var(--highlight-header-color);
  color: var(--navy-blue);
}

/*Subtitles configuration*/
h2 {
  font-size: clamp(1.5rem, 4.5vw, 2.5rem);
  color: var(--highlight-color);
  font-weight: bold;
}
h3 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  color: var(--highlight-color);
}
p {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
}

/* About Section */
#about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--primary-bg-color);
  color: var(--navy-blue);
  text-align: center;
  align-items: center;
  height: calc(100vh - 58px);
  p {
    margin-bottom: 30px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
  }

  .about-description-btn {
    display: flex;
    justify-content: center;
  }

  .about-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    #description,
    #skills {
      display: flex;
      flex-direction: column;
      background-color: var(--background-color);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      flex: 1;
      flex-basis: 300px;
    }

    #skills_content {
      display: flex;
      justify-content: center;
    }
  }
}

/* Projects Section */
#projects {
  padding: 50px 30px 30px 30px;
  text-align: center;
  background-color: var(--background-color);
}

.projects-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.project-card {
  padding: 20px;
  background-color: var(--primary-bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 290px;
  max-width: 300px;
  flex: 1;
  transition: transform 0.3s ease-in-out;
}
.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  max-width: 100%;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-card h3 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  color: var(--highlight-color);
  margin-bottom: 10px;
  margin-top: 0;
  height: 70px;
}

.project-card p {
  font-size: clamp(1rem, 1.6vw, 1.1rem);
  color: var(--navy-blue);
  height: 150px;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Section Team*/

.team-section {
  text-align: center;
  background-color: #fff5e6; /* Fondo naranja suave */
  padding: 40px 20px; /* Añade un margen interno */
  min-height: 100vh; /* Asegura que ocupe al menos el alto de la pantalla */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en filas */
  gap: 20px; /* Espaciado entre tarjetas */
  max-width: 1200px; /* Ancho máximo del contenedor */
  padding: 0; /* Elimina cualquier padding que pueda estar afectando */
  margin: 0 auto; /* Centra el contenedor */
}

.team-member {
  perspective: 1200px; /* Ajusta la perspectiva del efecto 3D */
  margin: 20px; /* Añade un margen alrededor de cada tarjeta */
}

.card {
  width: 250px; /* Ancho fijo para todas las tarjetas */
  height: 350px; /* Altura fija para todas las tarjetas */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out; /* Transición suave */
}

.card.flipped {
  transform: rotateY(180deg); /* Voltea la tarjeta al pasar el mouse */
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px; /* Esquinas redondeadas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  overflow: hidden; /* Esconde el contenido desbordado */
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la proporción de la imagen */
}

.back {
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  padding: 20px; /* Espaciado interno */
  text-align: center;
}

.back h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.back p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Contact Form */
.contact {
  padding: 50px 40px 30px 40px;
  background-color: var(--background-color);
}
.contact-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-title-contact {
  text-align: right;
}
.heading-contact-main {
  color: var(--highlight-color);
  text-align: center;
}
.heading-description-contact {
  color: var(--navy-blue);
  text-align: center;
}

.contact-form-container {
  background-color: var(--dark-gray);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 70%;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form-label {
  color: var(--primary-bg-color);
  font-size: clamp(1rem, 2vw, 1.1rem);
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
}

.contact-form-input {
  color: var(--navy-blue);
  background-color: var(--background-color);
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 90%;
  border: 2px solid #989797;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.337);
}

textarea {
  resize: none;
  max-height: 80px;
}

/*Placeholder configurations*/
input::placeholder,
textarea::placeholder {
  color: #989797;
  font-style: bold;
}
.contact-form-btn {
  display: flex;
  justify-content: center;
}

/*Footer section*/
.main-footer {
  background: var(--navy-blue);
  color: var(--background-color);
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.main-footer_social-cont {
  display: flex;
  gap: 15px;
}

.main-footer_icon {
  margin: 0;
  width: 2.5rem;
  transition: transform 0.3s ease-in-out;
}
.main-footer_icon:hover {
  transform: scale(1.1);
}

.footer-p {
  margin: 0;
  font-size: 14px;
  padding: 10px 0;
}

/* Media Queries */

@media screen and (max-width: 480px) {
  section {
    height: auto !important;
  }
}

/* Diseño responsivo */
@media (max-width: 768px) {
  section {
    height: auto !important;
  }

  .project-card {
    padding: 15px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
  }

  .nav-links.active {
    display: flex;
    background-color: var(--navy-blue);
    position: absolute;
    top: 60%;
    right: 20px;
    padding: 1rem;
    text-align: right;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px #393939;
  }

  .burger {
    display: flex;
  }
  li {
    margin: 0 !important;
  }

  /* Ajustar el texto en los párrafos para pantallas pequeñas */
  #slot_about_profile,
  #slot_about_profile_grid {
    padding: 0px 20px 0px 20px;
  }
}

@media (max-width: 880px) {
  #about {
    height: auto !important;
  }
}

@media (max-height: 700px) {
  #home,
  #about {
    height: auto !important;
  }
}
